* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden;
  font-family: 'Poppins';
}
body {
  background: url(./assets/password.jpg);
  background-size: cover;
  background-position: center;
}
